@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

.login_Slogan1{
    position: absolute;
    top:189px;
    left:837px;
    width:300px;
    margin:0px;
    text-align: left;
    font-size:24px;
    font-family: Noto Sans KR;
}

.login_Slogan2{
    position: absolute;
    top:231px;
    left:527px;
    width: 900px;
    margin:0px;
    text-align: left;
    font-size:48px;
    font-family: Noto Sans KR;
}

.login_box{
    position: absolute;
    top:347px;
    left:751px;
    width:418px;
    height:583px;
    background-color: #F9F9F9;
    border-radius: 15px;
}

.login_box img{
    position:absolute;
    top:47px;
    left:149px;
    width:120px;
    height:106px;
    margin-top:0px;
    margin-bottom: 26px;
}
input:focus {outline:none;}
.login_box input{
    position: relative;
    top:180px;
    width:304px;
    height:60px;
    font-size: 13px;
    padding-left: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    border : none;
}

.login_btn{
    position:relative;
    
    top:265px;
    left:142px;
    width:145px;
    height:60px;
    background-color: #191919;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
}
.login_btn p{
    color:#E9E9E9;
    font-size: 24px;
    padding-top: 13px;
}

