@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* default text */
.App {
  text-align: center;
}

body{
  font-family: 'Raleway', sans-serif;
}

/* title data */
.art_data_title{
  position:absolute;
  top:62px;
  left:66px;
  display:flex;
}
.art_data_title .logo{
  
  width : 134px;
  height : 60px;
  margin-right:80px;
}

.art_data_title ul{
  display:flex;
  justify-content: left;

}

.art_data_title ul li{
  margin-right:30px;
  list-style:none;
  margin-right:115px;
  font-size:24px;
  line-height: 18px;
  font-weight : bold;
}

a { text-decoration: none; color: black; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }


.art_data_title .search_bar{
  display:flex;
  justify-content: right;
}

.art_data_title .search_bar input{
  width:270px;
  height:44px;
  margin-top:5px;
  margin-right: 10px;
  background-color: black;
  color:white;
  border-radius:15px;
  font-size:20px;
  font-family: 'Noto Sans KR', sans-serif;
  padding-left: 10px;
}

.art_data_title .search_bar {
  margin-left:250px;
}
.art_data_title .search_bar input:focus {outline:none;}
.art_data_title .search_bar img{
  width:45px;
  height:45px;
  margin-top: 7px;
}
.art_data_title .user_icon .icon_sample{
  width:45px;
  height:45px;
  border-radius: 70%;
  margin-top:7px;
  margin-left: 35px;
  background-color: #888888;
  
}

/* Sidebar */
.side_bar{
  position: relative;
  top:130px;  
}

.plus_btn{
  position: absolute;
  top: 160px;
  left: 420px;
  width: 25px;
  height: 25px;
}




